# Enforce Java as the primary language for GitHub repositories
*.py linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.js linguist-detectable=false

*.java linguist-detectable=true
